*{
margin:0;
padding:0;
box-sizing:border-box;
}


.header{
    height: 100vh;
    width: 1400px;
    margin: 50px;
    background-color: #d8ebe7;
}
.navbar-brand{
    margin-left: 100px;
    font-weight: bold;
    font-size: 20px;
}
.sign{
    margin-right: 30px;
    text-decoration: none;
    color: #46a076;
}
.nav-link{
    color: #46a076;
    margin-left: 40px;
}
.trail{
    margin-right: 150px;
}
.shadow{
    background: aliceblue;
    margin-left: 100px;
}
.active
{
    height: 100px;
    /* width: 150px */
    background: #dbede5;
}
.fw-bold{
    font-size: 20px;
}
.output{
    margin-left: 1100px;
    position: relative;
    top: 200px;
    
}
.integration{
    margin-left: 680px;position: relative;top: 440px;
}
.fa-bandcamp{
    color: #337c5b;
}
.sheild{
    position: relative;
    top: 450px;
    left: 100px;
}
.btn-outline-secondary{
    color: #457861;
}
.content_container{
    margin-top: -1000px;
}
.display-3{
    font-size: 40px;
}
#workflow{
    /* border: 2px solid; */
    width: 500px;
    height: 400px;
    padding: 20px;
    margin-top: 100px;
    margin-left: 200px;
}
.icon_div{
    height: 50px;
    width: 200px;
    /* border: 2px solid; */
    padding: 10px;
    border-radius: 10px;
    background: aliceblue;
    color: #186442;
    font-weight: bold;
    gap: 10px;

}
.ic_div{
    height: 30px;
    width: 40px;
    border: 1px solid;
    text-align: center;
    background: #ebefed;
    border-radius: 10px;
    font-size: 18px;
}