*{
margin:0;
padding:0;
box-sizing:border-box;
}


.header{
    height: 100vh;
    width: 1400px;
    margin: 50px;
    background-color: #d8ebe7;
}
.navbar-brand{
    margin-left: 100px;
    font-weight: bold;
    font-size: 20px;
}
.sign{
    margin-right: 30px;
    text-decoration: none;
    color: #46a076;
}
.nav-link{
    color: #46a076;
    margin-left: 40px;
}
.trail{
    margin-right: 150px;
}
.shadow{
    background: aliceblue;
    margin-left: 100px;
}
.active
{
    height: 100px;
    /* width: 150px */
    background: #dbede5;
}
.fw-bold{
    font-size: 20px;
}
.output{
    margin-left: 1100px;
    position: relative;
    top: 200px;
    
}
.integration{
    margin-left: 680px;position: relative;top: 440px;
}
.fa-bandcamp{
    color: #337c5b;
}
.sheild{
    position: relative;
    top: 450px;
    left: 100px;
}
.btn-outline-secondary{
    color: #457861;
}
.content_container{
    margin-top: -1000px;
}
.display-3{
    font-size: 40px;
}